* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}


.div1 {
    background-color: blue;
}

.div2 {
    background-color: green;
}

.div3 {
    background-color: red;
}

.div4 {
    background-color: orange;
}

.container div {
    color: white;
    height: 100px;
    text-align: center;
}

.container div p {
    background-color: black;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .container div p {
    background-color: black;
    display: inline-block;
} */

/* .container div p {
    background-color: black;
    vertical-align: middle;
} */